<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/header :: commonHead('Upgrade utenti')}"/>
    <link rel="stylesheet" th:href="@{/css/pages/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/pages/upgrade.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container calendar-container py-5" style="margin-top:70px">
    <div th:replace="~{fragments/user-page-header :: header('fas fa-level-up-alt', 'Aggiorna ruolo utente', 'Gestisci il ruolo degli utenti, promuovendo il ruolo a moderatore')}"></div>

    <a th:href="@{/dashboard}" class="back-button">
        <i class="fas fa-arrow-left"></i> Torna alla Dashboard
    </a>

    <!-- Search box -->
    <input type="text" id="searchUsers" class="search-box" placeholder="Cerca utenti...">

    <!-- User table -->
    <form th:action="@{/api/upgrade}" method="post">
        <input hidden name="role" th:value="ROLE_MODERATOR">
        <table class="list-table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Nome Completo</th>
                <th>Ruolo</th>
                <th>Email</th>
                <th>Data di Nascita</th>
                <th>Promuovi</th>
            </tr>
            </thead>
            <tbody id="usersTableBody">
            <tr th:each="user : ${users}">
                <td class="team-name">
                    <div class="user-info">
                        <div class="user-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <span th:text="${user.username}">username</span>
                    </div>
                </td>
                <td th:text="${user.firstName + ' ' + user.lastName}">Nome Cognome</td>
                <td th:text="${authorities.get(user.username)}"></td>
                <td class="user-email">
                    <i class="fas fa-envelope" style="margin-right: 5px;"></i>
                    <span th:text="${user.mail}">email@example.com</span>
                </td>
                <td th:text="${#temporals.format(user.birthDate, 'dd/MM/yyyy')}">01/01/1990</td>

                <td th:if="${authorities.get(user.username) == 'ROLE_USER'}">
                    <input type="checkbox" name="usernames" th:value="${user.username}"/>
                </td>
                <td th:if="${authorities.get(user.username) != 'ROLE_USER'}">
                    <input disabled type="checkbox" name="usernames" th:value="${user.username}"/>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary glow-btn px-5 py-2 btn-action float-end" id="submitBtn"
                disabled>
            <i class="fas fa-save me-2"></i> Promuovi a moderatore
        </button>
    </form>
    <!-- No users message -->
    <div class="no-matches-message" th:if="${#lists.isEmpty(users)}">
        <i class="fas fa-info-circle"></i> Nessun utente registrato.
    </div>
</div>

<div th:replace="~{fragments/role-date-indicator :: roleDateFooter}"></div>

<script th:src="@{/js/pages/upgrade.js}"></script>

</body>
</html>
