<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/header :: commonHead('Benvenuto!')}"/>
    <link rel="stylesheet" th:href="@{/css/pages/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/pages/user-ranking.css}">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container calendar-container py-5" style="margin-top:70px">
    <div th:replace="~{fragments/user-page-header :: header('fas fa-trophy', 'Visualizza Classifica Utenti', 'Controlla la classifica aggiornata degli utenti')}"></div>

    <a href="/dashboard" class="back-button">
        <i class="fas fa-arrow-left"></i> Torna alla Dashboard
    </a>

    <!-- Search box -->
    <input type="text" id="searchUsers" class="search-box" placeholder="Cerca utenti...">

    <!-- User table -->
    <table class="list-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Nome Completo</th>
            <th>Email</th>
            <th>Data di Nascita</th>
            <th>Punteggio</th>
        </tr>
        </thead>
        <tbody id="usersTableBody">
        <tr th:each="user : ${users}">
            <td class="team-name">
                <div class="user-info">
                    <div class="user-avatar">
                        <i class="fas fa-user"></i>
                    </div>
                    <span th:text="${user.username}">username</span>
                </div>
            </td>
            <td th:text="${user.firstName + ' ' + user.lastName}">Nome Cognome</td>
            <td class="user-email">
                <i class="fas fa-envelope" style="margin-right: 5px;"></i>
                <span th:text="${user.mail}">email@example.com</span>
            </td>
            <td th:text="${#temporals.format(user.birthDate, 'dd/MM/yyyy')}">01/01/1990</td>
            <td th:text="${ranks.get(user.username)}"></td>
        </tr>
        </tbody>
    </table>

    <!-- No users message -->
    <div class="no-matches-message" th:if="${#lists.isEmpty(users)}">
        <i class="fas fa-info-circle"></i> Nessun utente registrato.
    </div>

    <div class="container mt-4">
        <div th:if="${!#lists.isEmpty(users)}">
            <div class="row mb-4">
                <div class="col-12 px-0">
                    <div class="card">
                        <h4 class="card-header text-white py-4" style="background-color: var(--blue-3)">
                            Diagramma a dispersione
                        </h4>
                        <div class="card-body chart-container">
                            <div id="scatter-plot"></div>
                        </div>
                        <span class="text-muted text-center small mb-4 px-3">
                            <i class="fas fa-circle-info"></i> Sulla x il numero di campione, sulla y il relativo punteggio
                        </span>
                    </div>
                </div>
            </div>

            <div class="row mb-4 px-0">

                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="card h-100">
                        <h4 class="card-header text-white py-4" style="background-color: var(--red-3)">
                            Distribuzione prevista
                        </h4>
                        <div class="card-body chart-container">
                            <div id="bell-curve"></div>
                        </div>
                        <span class="text-muted text-center small mb-4 px-3">
                            <i class="fas fa-circle-info"></i> Sulla x il punteggio dell'utente, sulla y la densità di probabilità prevista, assumendo distribuzione normale dei dati
                        </span>
                    </div>
                </div>

                <div class="col-md-6 px-0">
                    <div class="card h-100">
                        <h4 class="card-header text-white py-4" style="background-color: var(--green-3)">
                            Istrogramma
                        </h4>
                        <div class="card-body chart-container">
                            <div id="histogram"></div>
                        </div>
                        <span class="text-muted text-center small mb-4 px-3">
                            <i class="fas fa-circle-info"></i> Sulla x il punteggio diviso per intervalli, sulla y il numero di valori che ricadono all'interno di questo
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{fragments/role-date-indicator :: roleDateFooter}"></div>

<script th:src="@{/js/pages/user-ranking.js}"></script>


<script th:inline="javascript">
    const data = /*[[${ranks.values()}]]*/ [];
</script>


<script th:src="@{/js/search.js}"></script>

</body>
</html>
