<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <th:block th:replace="~{fragments/header :: commonHead('Registrazione avvenuta con successo!')}"/>
    <link rel="stylesheet" th:href="@{/css/pages/message.css}">
</head>
<body>
<div class="message-container">
    <div class="message-card">
        <div class="card-body text-center p-5">
            <div class="success-icon failure-icon">
                <i class="fas fa-times" style="color: var(--red-1);"></i>
            </div>

            <h1 class="card-title mt-4">Qualcosa è andato storto!</h1>
            <p class="message-text mb-4">
                C'è stato un errore nell'elaborazione della tua richiesta, per favore riprova più tardi
            </p>

            <!--Custom error-->
            <div th:if="${customError != null}">
                <p th:text="${customError}"></p>
            </div>

            <!--Default error-->
            <div th:if="${customError == null}">
                <p>Status: <span th:text="${status}">500</span></p>
                <p>Error: <span th:text="${error}">Internal Server Error</span></p>
                <p>Message: <span th:text="${message}">Unexpected error</span></p>
                <p>Path: <span th:text="${uri}">/example</span></p>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <a th:href="@{/login}" class="btn glow-btn me-3">
                    <i class="fas fa-sign-in-alt me-2"></i> Accedi
                </a>
                <a th:href="@{/index}" class="btn glow-btn-outline-secondary">
                    <i class="fas fa-home me-2"></i> Torna alla Home
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/role-date-indicator :: roleDateFooter}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
