<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <th:block th:replace="~{fragments/header :: commonHead('Calendario Partite')}"/>
    <link rel="stylesheet" th:href="@{/css/pages/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/pages/play.css}">

    <!-- Avoid 403 forbidden error -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body class="bg-light">
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container py-5" style="margin-top:70px">
    <!-- Calendar Header -->
    <div th:replace="~{fragments/user-page-header :: header( 'fas fa-futbol', 'Gioca schedina', 'Visualizza tutte le partite in programma e fai le tue previsioni' )}"></div>

    <div class="row justify-content-center">
        <div class="col-lg-10 calendar-container">
            <!-- If no matches found -->

            <div th:if="${pointsToday.isPresent()}" class="no-matches-message">
                Points scored today: <span th:text="${pointsToday.get()}"></span>
            </div>


            <div th:if="${calendar.isEmpty() && !pointsToday.isPresent()}" class="no-matches-message">
                <i class="fas fa-info-circle me-2"></i>
                Non ci sono partite in programma al momento.
            </div>

            <div th:if="${calendar.isEmpty() && !pointsToday.isPresent()}" class="no-matches-message">
                E' possibile simulare una scommessa in una qualsiasi giornata aggiungendola come parametro all'url ad
                esempio
                <div>
                    /play/2025-10-21
                </div>
            </div>


            <!-- Championships -->
            <form th:id="|bet-form|" th:if="${!pointsToday.isPresent()}" th:action="@{/predictions/submit}"
                  method="post">
                <div th:each="championshipEntry : ${calendar}" class="mb-5">
                    <div class="championship-header">
                        <h2>
                            <i class="fas fa-trophy me-2"></i>
                            <span th:text="'Championship ' + ${championshipEntry.key}">Championship ID</span>
                        </h2>
                    </div>

                    <input type="hidden" name="championshipId" th:value="${championshipEntry.key}"/>

                    <!-- Matches Table -->
                    <table class="list-table" th:id="|form_${championshipEntry.key}|">
                        <thead>
                        <tr>
                            <th>Orario</th>
                            <th>Squadra Casa</th>
                            <th class="vs-column"></th>
                            <th>Squadra Ospite</th>
                            <th class="prediction-column">Previsione</th>
                            <th class="results-column" hidden
                                th:id="|result_column_championship_${championshipEntry.key}|">Risultati
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="match, matchStat : ${championshipEntry.value}">
                            <td class="match-time" th:text="${#temporals.format(match.getDateTime(), 'HH:mm')}">
                                Time
                            </td>
                            <td class="team-name" th:text="${match.homeTeam.name}">Home Team</td>
                            <td class="vs-column">vs</td>
                            <td class="team-name" th:text="${match.awayTeam.name}">Away Team</td>
                            <td class="prediction-column">
                                <input type="hidden" th:name="'matchIds[' + ${matchStat.index} + ']'"
                                       th:value="${match.homeTeam.name + '_' + match.awayTeam.name + '_' + match.championship.id + '_' + #temporals.format(match.getDateTime(), 'yyyy-MM-dd HH:mm:ss')}"/>

                                <div class="prediction-options"
                                     th:data-match-id="${match.getId()}"
                                     th:data-championship-id="${championshipEntry.key}">

                                    <div class="team-option">
                                        <input type="radio"
                                               th:id="|home_${match.getId()}|"
                                               th:name="|predictions_${match.getId()}|"
                                               th:value="1" required/>
                                        <label th:for="|home_${match.getId()}|">Casa</label>
                                    </div>

                                    <div class="team-option">
                                        <input type="radio"
                                               th:id="|away_${match.id}|"
                                               th:name="|predictions_${match.getId()}|"
                                               th:value="2"/>
                                        <label th:for="|away_${match.getId()}|">Ospite</label>
                                    </div>

                                    <div class="team-option">
                                        <input type="radio"
                                               th:id="|draw_${match.getId()}|"
                                               th:name="|predictions_${match.getId()}|"
                                               value="0"/>
                                        <label th:for="|draw_${match.getId()}|">Pareggio</label>
                                    </div>
                                </div>

                            </td>

                            <td class="results-column" hidden th:id="|result_col_${match.getId()}|">
                                <i class="fas fa-check" style="color: green;"
                                   th:id="|result_icon_${match.getId()}|"></i>
                                <span th:id="|result_text_${match.getId()}|"> </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- Submit button for predictions -->
                <div th:if="${!calendar.isEmpty()}" class="prediction-submit d-flex flex-row">
                    <div th:id="total-score-row" class="d-flex flex-row align-items-center"
                         style="flex-grow:1; opacity: 0">
                        <div>Punteggio totale:</div>
                        <div th:id="total-score-value" class="ms-2" style="flex-grow:1; text-align: left">something
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary glow-btn"
                            th:id="|submit_bet|">
                        <i class="fas fa-check-circle me-2"></i>Invia Previsioni
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="~{fragments/role-date-indicator :: roleDateFooter}"></div>


<script th:inline="javascript">
    /*<![CDATA[*/
    const date = /*[[${date}]]*/ '2025-10-20';
    const username = /*[[${#authentication.name}]]*/ 'unknown';
    /*]]>*/
</script>
<script th:src="@{/js/pages/play.js}"></script>


</body>
</html>
