<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="https://via.placeholder.com/150x60/0d6efd/ffffff?text=SportBet" alt="SportBet Logo"
                 class="brand-logo me-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sponsor">Sponsor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sportsDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Sports
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sportsDropdown">
                        <li><a class="dropdown-item" th:href="@{/sports/calcio}">Calcio</a></li>
                        <li><a class="dropdown-item" th:href="@{/sports/basket}">Basket</a></li>
                        <li><a class="dropdown-item" th:href="@{/sports/tennis}">Tennis</a></li>
                    </ul>
                </li>
            </ul>


            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class=" ms-3">
                <button type="submit" class="btn btn-primary glow-btn">Logout</button>
            </form>

            <div sec:authorize="isAnonymous()" class=" ms-3">
                <a href="/signup" class="btn btn-primary glow-btn">Registrati</a>
            </div>
            <div sec:authorize="isAnonymous()" class=" ms-3">
                <a href="/login" class="btn btn-primary glow-btn">Accedi</a>
            </div>
        </div>

    </div>
    </div>
</nav>
</body>
</html>